.streamzon-setting-column {
  width: 300px;
  background-color: #fff;
  margin-right: 15px;
  margin-bottom: 15px;
  border: 1px solid #e5e5e5;
  h4 {
    background-color: #333;
    color: #fff;
    margin: 0;
    padding: 10px;
  }
  &:hover {
    border-color: #999;
  }
}

.streamzon-setting-fieldset {
  padding: 10px;
}

.streamzon-setting-field {
  margin-bottom: 15px;
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  .regular-text {
    width: 100%;
    margin: 0;
  }
  img {
    max-width: 100%;
    max-height: 100%;
  }
  .image-container {
    height: 100px;
  }
}

.pickList_list {
  height: 150px;
  width: 200px;
}

.pickList_controlsContainer {
  margin-top: 17px;
}


.options-page-logo {
  width: 247px;
  height: 88px;
  background: url("../img/logo-icon.png") no-repeat;
}

.options-page-hr {
  border: none;
  height: 3px;
  background-color: #333;
}