.streamzon-setting-column {
  width: 300px;
  background-color: #fff;
  margin-right: 15px;
  margin-bottom: 15px;
  border: 1px solid #e5e5e5;
}
.streamzon-setting-column h4 {

  background-color: #aaa;
  margin: 0;
  padding: 5px 25px;
  box-sizing: border-box;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 8px 9px;
  background-size: 11px auto;
  color: #fff;
  font-size: 1.3em;
}
.streamzon-setting-column:hover {
  border-color: #999;
}
.streamzon-setting-fieldset {
  padding: 10px;
  min-height: 54px;
}
.streamzon-setting-field {
  margin-bottom: 15px;
}
.streamzon-setting-field label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.streamzon-setting-field .regular-text {
  width: 100%;
  margin: 0;
}
.streamzon-setting-field img {
  max-width: 100%;
  max-height: 100%;
}
.streamzon-setting-field .image-container {
  height: 100px;
}
.pickList_list {
  height: 150px;
  width: 200px;
}
.pickList_controlsContainer {
  margin-top: 17px;
}
.options-page-logo {
  width: 247px;
  height: 88px;
  background: url("../img/logo-icon.png") no-repeat;
}
.options-page-hr {
  border: none;
  height: 3px;
  background-color: #333;
}

#theme_options_block h3 {
  background-color: #aaa;
  margin: 7px 0;
  padding: 5px 25px;
  box-sizing: border-box;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 8px 9px;
  background-size: 11px auto;
  background-image: url("../img/plus.png");
  color: #fff;
}
#theme_options_block h3.active-section {
  background-image: url("../img/minus.png");

}

.name_block {
  bottom: 0;
  position: absolute;
  width:266px;
}

/* === analystics === */
.country_table {
  width: 86%;
}
.google-visualization-table {
  width: 100%!imporatnt;
}




/* ========= Progress bar ========= */

.progressbar {
  display: none;
  border: solid 1px #01c5b5;  
  width: 100%;
  height: 25px;  
  box-shadow: 0 0 4px 0px #999 inset;
  position: relative;
  box-sizing: border-box;
}
.progressbar span {
  background: #01c5b5;
  display: block;
  width: 0;
  height: 24px;
  color: black;
  padding: 4px;
  font-size: 12px;
  box-sizing: border-box;
  min-width: 3%;
  text-align: right;
  color: white;
  font-weight: bold;
  box-shadow: 0 0 10px 1px #777 inset;
  position: relative;
  
}
.progressbar i {
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}