

@media screen and (max-width: 510px) {
	.post { width: 100% !important; height: auto !important}
	.post-image { float: left !important; margin: 0 !important; padding: 10px;  }
	.post-image img { height: auto !important; width: 100px !important }
	.single .post-image { float: none !important; width: 100% !important; padding: 0;  }
	.single .post-image img {max-width: 100%; }
	.post-title { font-size: 120% !important;}
	.single .post-title { padding-left: 0px; font-size: 200% !important;}
	.loops-wrapper { margin-left: 0 !important;}
	.post-content { padding: 10px 10px 10px 120px !important}
	.post-content.no-image { padding: 10px 10px 10px 10px !important}
	.single .post-content { padding: 10px 0 !important}
	.grid4 .post-meta { position: relative !important; margin: 20px 0 0; clear: none; text-align: left;}
	.single .post-meta { margin: 10px 0; }
	.grid4 .post-tag { width: 100%; }
	.grid4 .post-category { width: 100%; }
}


@media screen and (max-width: 980px) {
        #site-logo { text-align: center; }
#main-nav-wrap { left: 0; top: 15px; right: auto; }
.mobile-button { float: left; height: 20px; width: 30px; }

    #pagewrap {
        /*padding-top: 165px;*/
		/* padding-top:55px; */
    }

    .header-search-form {
        position: relative;
        top: 0;
        bottom: 0;
        margin-bottom: 10px;
    }

}
