@charset "utf-8";
body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    background: url(../images/noise-bg.jpg) repeat #f5f5f5;
    padding: 0;
    margin: 0;
    height:100%;
    
}

.jumbotron {
    position: relative;
    color: #fff;
    text-align: center;
    background: none;
    height: 548px;
    background-size: 100% 100%;
    overflow: hidden;
}

#header-logo-layer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: none;
    z-index: 9;
}

#wrapper {
    position: relative;
    z-index: 99;
   // min-height:548px;
    //height:83%;
}

#layout2 .jumbotron, #layout2 .jumbotron {
    min-height: 548px;
    height: auto;
}

.masthead {
    margin-bottom: 0;
    color: #fff;
}

.masthead .landing-page-logo {
    margin-bottom: 30px;
}
.masthead .landing-page-logo img{
	width:100%;
	max-width:600px;
	margin:0 auto;
}

/*VJ for logo control*/
.masthead .landing-page-logo a{
	display:inline-block;
}


.masthead h1 {
    font-size: 50px;
    line-height: 1;
    letter-spacing: 0px;
}

.masthead p {
    font-size: 40px;
    font-weight: 200;
    line-height: 1.25;
}

.jumbotron .container {
    /*padding-top: 50px; VJ removeing in order to add option to change manually*/
    position: relative;
    z-index: 999;
}

.mockup {
    background: url(../images/iphone-mockup.png) top center no-repeat;
    height: 450px;
    margin-top: 30px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.mockup:hover {
    margin-top: -20px;
}

.shadow {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -240px;
}

.subscribe {
    text-align: center;
    padding-top: 50px;
}

.subscribe h2 {
    font-size: 38px;
    font-weight: 600;
    color: #0e0d0d;
    line-height: 1;
    letter-spacing: -2px;
}

.subscribe h4 {
    font-size: 24px;
    font-weight: 400;
    color: #0e0d0d;
    line-height: 1.75;
}

.subscribe .input-xxlarge {
    height: 40px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    font-size: 22px;
    font-weight: 400;
    line-height: 50px;
    padding: 4px 9px;
    /*margin: 15px 0;
    margin-right: 15px;*/
}

.subscribe .btn-warning {
	max-width:135px;
    border-radius: 3px;
    border-style: none;
    box-shadow: 0 1px 0 #69db94 inset, 0 -1px 2px #198f46 inset;
    font-weight: normal;
	font-size:27px;
	/*font-size: 2vw; -------------------------------*/
    line-height: 36px;
    text-align: center;
}

.subscribe button.btn.btn-large {
    /*padding: 14px 35px;
		vj comment
	*/

}
.form_row{
	margin:10px 0;
}

.footer {
    text-align: center;
    /*
	vj commented
	padding-bottom: 50px;
    padding-top: 20px;
	*/
}

.footer.footertext {
    color: #919191;
    font-size: 12px;
    font-weight: 300;
}

.socialicons a.icons {
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-right: 15px;
    background: url(../images/social-icons.png) no-repeat;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.socialicons a.icons.facebook {
    background-position: 0 0;
}

.socialicons a.icons.facebook:hover {
    background-position: 0 -33px;
}

.socialicons a.icons.twitter {
    background-position: -33px 0;
}

.socialicons a.icons.twitter:hover {
    background-position: -33px -33px;
}

.socialicons a.icons.linkedin {
    background-position: -66px 0;
}

.socialicons a.icons.linkedin:hover {
    background-position: -66px -33px;
}

.Wrapcountdown {
    margin-top: 50px;
}

.Wrapcountdown p {
    font-size: 22px;
}

ul#countdown, ul#countdown li {
    list-style: none;
}

ul#countdown li {
    display: inline-block;
    width: 104px;
    margin-top: 1em;
    text-align: center;
}

ul#countdown li span {
    font-size: 3em;
    font-weight: bold;
    color: #FFF;
    height: 108px;
    line-height: 1.0;
    position: relative;
}
ul#countdown li p.timeRefDays, ul#countdown li p.timeRefHours, ul#countdown li p.timeRefMinutes, ul#countdown li p.timeRefSeconds {
    margin-top: 1em;
    color: #FFF;
    text-transform: uppercase;
    font-size: .875em;
}
.jumbotron .subscribe {
    padding-top: 35px;
}
.masthead #ticker, .masthead .query {
    font: 120% Georgia, "Times New Roman", Times, serif;
    color: #FFF;
    text-align: center;
}
.masthead #ticker p {
    font-size: 120%;
}
.footer ul {
    list-style: none;
    margin-left: 0;
}
.footer ul li {
    display: inline;
    margin-right: 0;
}
.footer ul li a{
	padding:5px 10px;
}
.footer ul li:first-child a{
	padding:5px 10px 5px 0px;
}
/*-----range bar-------*/

.rangeNumbers{
	width:100%;
	max-width:600px;
	display:inline-block;
}
.range-bar {
	background-color: #a9acb1;
	border-radius: 15px;
	display: block;
	height: 4px;
	position: relative;
	width: 100%;
	max-width:600px;
	margin:40px auto;
}
.range-quantity {
  background-color: #017afd;
  border-radius: 15px;
  display: block;
  height: 100%;
  width: 0;
}
.range-handle {
  background-color: #017afd;
  border-radius: 100%;
  cursor: move;
  height: 30px;
  left: 0;
  top: -13px;
  position: absolute;
  width: 30px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 1);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
}
.range-min1,
.range-max1 {
  color: #ccc;
  font-size: 14px;
  padding: 4px;
  text-align: center;
  top: 0px;
  width: 24px;
}
.range-min1 {
	float:left;
    position: relative;
    top: 30px;
	left:-14px;
}
.range-max1 {
  	float:right;
    position: relative;
    top: 30px;
}
.display-box{
    background-color: #cccccc;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15) inset;
    color: #6c6c2d;
    font-size: 12px;
    margin: 0 auto;
    padding: 5px 10px;
    position: relative;
    text-align: center;
    top: 20px;
    /*width: 100px;*/
	display:inline;
 	-moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
.ct_flag{
	width: 32px !important;  
	height: 32px !important;
	padding:0 10px;
}
.ct_flag>img{
	width: 32px !important;  
	height: 32px !important;
}
.container.footer_row {
    position: relative;
    z-index: 100;
}
@media (max-width: 767px) {
    .jumbotron {
        padding: 20px 20px;
        /*margin-top: -20px;
        margin-right: -20px;
        margin-left: -20px;*/
    }
	.container{
		padding:0!important;
	}
	.subscribe .input-xxlarge, .slider_noui{
		max-width:70%;
		width:700px;
	}
	.subscribe button.btn.btn-large{
		padding:13px !important;
	}
}

@media (max-width: 480px) {
    .mockup {
        background-size: 100%;
    }
	.masthead h1{
		font-size:48px !important;
	}
	.masthead p{
		font-size:20px !important;
	}
	.container{
		padding:0!important;
	}
	.subscribe .input-xxlarge, .slider_noui{
		width:100%;	
		
	}
	.subscribe button.btn.btn-large{
		padding:13px !important;
	}
	.container h1{
		
		line-height:20px;
		margin-bottom:20px;
	}
	.jumbotron .container{
		margin: 10px 0 !important;
	}
	.subscribe .btn-warning {
		font-size: 4vw; /*-------------------------------*/
	}	
	.row-fluid .span10{
		 width: 100% !important;
	}
    .landcontent {
        float: none!important;
    }
    .footertext {
        font-size: 14px!important;
    }
    .footercontent {
        padding-bottom: 0;
    }
}